body{
    font-family: 宋体;

}
 .title {
     text-align: center;
     font-size: 40px;
     font-weight: bold;
 }

 .wrapper {
     width: 400px;
     height: 400px;
     margin: 0 auto;
 }

 ul {
     height: 40px;
     position: relative;
     margin: 0;
     padding: 0;
 }

 li {
     list-style: none;
     float: left;
     background-color: whitesmoke;
 }

 li>a {
     font-size: 14px;
     width: 80px;
     height: 40px;
     line-height: 40px;
     display: block;
     text-decoration: none;
     cursor: pointer;
     float: left;
     text-align: center;
 }

 span {
     position: absolute;
     width: 80px;
     height: 4px;
     background-color: blue;
     bottom: 0;
     left: 0;
 }